package views

templ Error() {

  
			@BaseHtml([]string {}) {
                <div>
                    <span>Rut Roh an error occured!</span>
                    <img src="https://www.betterthanpants.com/media/catalog/product/r/u/ruh-roh-scooby-doo-80s-tshirt-large.jpg"/>
                </div>
                    
			}

}