package views

templ Index(scripts []string) {

  
			@BaseHtml(scripts) {
                <div>
                    <input type="file" id="jpg_file_uploader" name="jpg_file_uploader" accept="image/jpeg" />
                </div>
                    
			}

}